body {
    background: steelblue;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    color: white;
    margin: 0 auto;
    width: 80%;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.4;
    padding: 2rem 10%;
}

.image {
    display: block;
    margin: auto;
    text-align: center;
}

@media screen and (min-width: 64em) {
    .split-block {
        display: flex;
        padding: 4em 5em;
    }
    .split-block:nth-child(even) {
        flex-direction: row-reverse;
        color: steelblue;
        background-color: snow;
    }
    .wrapper {
        width: 100%;
        margin: 0;
    }
    .flex-item {
        flex: 1 1 50%;
    }
    .flex-container {
        text-align: justify;
    }    
}